.project-card:hover {
  transform: scale(1.08);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.welcome-message {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  font-size: 24px;
  animation: fadeInOut 10s 1;
  opacity: 1;
}

.subtitle {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#profileInfo {
  max-width: 300px;
}

#profileInfo img {
  display: block;
  margin: 0 auto;
}

#profileInfo h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

#profileInfo p {
  text-align: center;
  margin-top: 8px;
}